PORT=8000
OPENAI_API_KEY=
VERBOSE_LLM=True
DIALOG_DATA_PATH=./know.csv
PROJECT_CONFIG=./prompt.toml
DATABASE_URL=postgresql://talkdai:talkdai@127.0.0.1:5432/talkdai
STATIC_FILE_LOCATION=static
DEBUG=false